html, body {
    margin: 0;
    padding: 0;
    font-family: Oxygen, sans-serif;
}
.container {
    max-width: 100%;
    text-align: center;
}

.header {
    background-color: #233;
    height: 50px
}
.header .container {
    text-align: center;
}
.header ul {
    list-style: none;
    max-width: 100%;
}
.header ul li {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 15px
}
.header ul li a {
    color: #fff;
    text-decoration: none;
}
.header ul li:hover {
    color: #fff;
    background-color: orange;
    transition: .5s;
}

.jumbotron video {
    width: 100%;
    margin-top: -50px;
}

.footer ul {
    list-style: none;
    margin-right: 40px;
}
.footer li {
    display: inline;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
@media (max-width: 992px) {
    .jumbotron .container {
        top: 150px;
    }
    .jumbotron h1 {
        font-size: 60px;
    }
    .jumbotron p {
        font-size: 20px;
    }
}
@media (max-width: 766px) {
    .header {
        position: fixed;
        z-index: 9999;
        width: 100%;
    }

    .jumbotron .container {
        top: 70px;
    }
    .jumbotron h1 {
        font-size: 40px;
    }
    .jumbotron p {
        font-size: 16px
    }
    .jumbotron video {
        display: none;
    }
    .main {
        margin-top: -50px
    }
}
@media (max-width: 590px){
    .jumbotron .container {
        top: 80px;
    }
    .jumbotron h1 {
        font-size: 35px;
    }
    .jumbotron p {
        display: none;
    }
    .btn {
        margin-top: 20px
    }
}
@media (max-width: 451px){
   .jumbotron video {
        margin-top: -30px
    }
    .jumbotron .container {
        top: 100px;
    }
}
@media (max-width: 425px){
    .jumbotron h1 {
        font-size: 25px;
    }
    
    .btn {
        font-size: 11px;
        padding: 10px 20px 
    }
}
//@media screen and (max-width: 480px) {
    .header {
        margin-bottom: 170px;
    }
    .header ul  {
        text-align: center
    }
    .header ul li {
        display: block;
        width: 100%;
        background-color: #333;
    }
}

