html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
.container {
    max-width: 100%;
    text-align: center;
}

.header {
    background-color: #233;
    height: 50px
}
.header .container {
    text-align: center;
}
.header ul {
    list-style: none;
    max-width: 100%;
}
.header ul li {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 15px
}
.header ul li a {
    color: #fff;
    text-decoration: none;
}
.header ul li:hover {
    color: #fff;
    background-color: orange;
    transition: .5s;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 50px; right: 0px; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }

.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
.footer ul {
    list-style: none;
    margin-right: 40px;
}
.footer li {
    display: inline;
    
}

@media (max-width: 1000px){
    .main {
        height: 600px;
    }
}
@media (max-width: 760px){
    .main {
        height: 700px;
    }
}
